InternettClient/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://main" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://main">
      <xs:element name="Authenticate">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AuthenticateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ByteCounter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="jsonOfFile" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ByteCounterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReturnQRPicture">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReturnQRPictureResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="return" type="xs:byte" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ByteCounterRequest">
    <wsdl:part name="parameters" element="ns:ByteCounter" />
  </wsdl:message>
  <wsdl:message name="ByteCounterResponse">
    <wsdl:part name="parameters" element="ns:ByteCounterResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnQRPictureRequest">
    <wsdl:part name="parameters" element="ns:ReturnQRPicture" />
  </wsdl:message>
  <wsdl:message name="ReturnQRPictureResponse">
    <wsdl:part name="parameters" element="ns:ReturnQRPictureResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateRequest">
    <wsdl:part name="parameters" element="ns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateResponse">
    <wsdl:part name="parameters" element="ns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicePortType">
    <wsdl:operation name="ByteCounter">
      <wsdl:input wsaw:Action="urn:ByteCounter" message="ns:ByteCounterRequest" />
      <wsdl:output wsaw:Action="urn:ByteCounterResponse" message="ns:ByteCounterResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReturnQRPicture">
      <wsdl:input wsaw:Action="urn:ReturnQRPicture" message="ns:ReturnQRPictureRequest" />
      <wsdl:output wsaw:Action="urn:ReturnQRPictureResponse" message="ns:ReturnQRPictureResponse" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="urn:Authenticate" message="ns:AuthenticateRequest" />
      <wsdl:output wsaw:Action="urn:AuthenticateResponse" message="ns:AuthenticateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap11Binding" type="ns:ServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ByteCounter">
      <soap:operation soapAction="urn:ByteCounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnQRPicture">
      <soap:operation soapAction="urn:ReturnQRPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="urn:Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12Binding" type="ns:ServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ByteCounter">
      <soap12:operation soapAction="urn:ByteCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnQRPicture">
      <soap12:operation soapAction="urn:ReturnQRPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="urn:Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpBinding" type="ns:ServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="ByteCounter">
      <http:operation location="ByteCounter" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnQRPicture">
      <http:operation location="ReturnQRPicture" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <http:operation location="Authenticate" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceHttpSoap11Endpoint" binding="ns:ServiceSoap11Binding">
      <soap:address location="http://192.168.1.40:8080/MainService/services/Service.ServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpSoap12Endpoint" binding="ns:ServiceSoap12Binding">
      <soap12:address location="http://192.168.1.40:8080/MainService/services/Service.ServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpEndpoint" binding="ns:ServiceHttpBinding">
      <http:address location="http://192.168.1.40:8080/MainService/services/Service.ServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>